table {
    width: 100%;
}
  
.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

button {
    margin-left: 20px;
}

.showComplete {
    background-color: #673ab7;
    padding: 0.5rem;
    color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
}