.login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    gap: 40px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
}

.center {
    text-align: center;
}

.inputs {
    width: 100%;
}

.title {
    font-size: 30px;
}

.logo {
    font-size: 14px;
    color: #673ab7;
    font-weight: bold;
}

button {
    width: 50%;
}