<div class="login">
    <div>
        <label class="logo">be managed!</label>
    </div>
    <div class="center">
        <label class="title">Iniciar Sesión</label>
    </div>
    <div class="buttons">
        <div>
            <mat-form-field appearance="outline" class="inputs">
                <mat-label>Username</mat-label>
                <input matInput>
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
        </div>    
        <div>
            <mat-form-field appearance="outline" class="inputs">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div>
            <button mat-raised-button color="primary">Aceptar</button>
        </div>
    </div>
</div>