<div class="container-center">
    <div>
        <label class="logo">be managed!</label>
    </div>
    <div>
        <label class="title">Agregar</label>
    </div>
    <form class="forms" [formGroup]="compraForm" (ngSubmit)="ngSubmit()">
        <div>
            <mat-form-field appearance="outline" class="inputs">
                <mat-label>Nombre del producto</mat-label>
                <input 
                    matInput
                    type="text"
                    required
                    formControlName="nombreProducto">
            </mat-form-field>
            <mat-form-field appearance="outline" class="inputs">
                <mat-label>Precio</mat-label>
                <input 
                    matInput
                    type="text"
                    required
                    formControlName="precio">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" class="inputs">
                <mat-label>Cantidad</mat-label>
                <input 
                    matInput
                    type="text"
                    required
                    formControlName="cantidad">
            </mat-form-field>
            <mat-form-field appearance="fill" class="inputs">
                <mat-label>Tipo de compra</mat-label>
                <mat-select 
                    required
                    formControlName="tipo">
                    <mat-option *ngFor="let compra of TipoCompra" [value]="compra.desc">
                    {{compra.desc}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill" class="inputs">
                <mat-label>Forma de pago</mat-label>
                <mat-select 
                    required
                    formControlName="metodo">
                  <mat-option *ngFor="let forma of FormasPago" [value]="forma.desc">
                    {{forma.desc}}
                  </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="inputs">
                <mat-label>Tipo de producto</mat-label>
                <mat-select 
                    required
                    formControlName="tipoProducto">
                    <mat-option *ngFor="let producto of TipoProductoArray" [value]="producto.desc">
                    {{producto.desc}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" class="inputs">
                <mat-label>Lugar de compra</mat-label>
                <input 
                    matInput
                    type="text"
                    formControlName="lugar">
            </mat-form-field>
            <mat-form-field appearance="outline" class="inputs">
                <mat-label>Motivo</mat-label>
                <input 
                    matInput
                    type="text"
                    formControlName="motivo">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" class="inputs">
                <mat-label>Comentario</mat-label>
                <input 
                    matInput
                    type="text"
                    formControlName="comentario">
            </mat-form-field>
            <div class="cuestion">
                <label>¿Has comprado anteriormente este producto?</label>
                <mat-radio-group formControlName="repetido">
                    <mat-radio-button value="Si">Si</mat-radio-button>
                    <mat-radio-button value="No">No</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div>
            <button class="button" mat-raised-button color="primary">Agregar</button>
        </div>
    </form>
</div>