@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body, html {
    padding: 0px;
    margin: 0px;
    background-color: #D4D4D4;
    font-family: 'K2D', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    margin: auto;
}

.container-center{
    width: 1100px;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.logo {
    font-size: 14px;
    color: #673ab7;
    font-weight: bold;
}

.title {
    font-size: 32px;
}

.inputs {
    width: 100%;
}

.button {
    width: 20%;
}