@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body, html {
    padding: 0px;
    margin: 0px;
    background-color: #D4D4D4;
    font-family: 'K2D', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    margin: auto;
}